<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <display-name>Volando.uy</display-name>
  <servlet>
    <description></description>
    <display-name>RutasVueloServlet</display-name>
    <servlet-name>RutasVueloServlet</servlet-name>
    <servlet-class>RutasVueloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RutasVueloServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DetalleRutaVueloServlet</servlet-name>
    <servlet-class>DetalleRutaVueloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalleRutaVueloServlet</servlet-name>
    <url-pattern>/detalle-ruta-vuelo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatosPruebaServlet</display-name>
    <servlet-name>DatosPruebaServlet</servlet-name>
    <servlet-class>DatosPruebaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosPruebaServlet</servlet-name>
    <url-pattern>/datos-prueba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/registro_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaUsuarioServlet</display-name>
    <servlet-name>ConsultaUsuarioServlet</servlet-name>
    <servlet-class>ConsultaUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaUsuarioServlet</servlet-name>
    <url-pattern>/consulta-usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilClienteServlet</display-name>
    <servlet-name>PerfilClienteServlet</servlet-name>
    <servlet-class>PerfilClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilClienteServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarUsuarioServlet</display-name>
    <servlet-name>ModificarUsuarioServlet</servlet-name>
    <servlet-class>ModificarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarUsuarioServlet</servlet-name>
    <url-pattern>/modificar-usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaRutaVueloServlet</display-name>
    <servlet-name>AltaRutaVueloServlet</servlet-name>
    <servlet-class>AltaRutaVueloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaRutaVueloServlet</servlet-name>
    <url-pattern>/alta-ruta-vuelo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarRutasVueloServlet</display-name>
    <servlet-name>ListarRutasVueloServlet</servlet-name>
    <servlet-class>ListarRutasVueloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarRutasVueloServlet</servlet-name>
    <url-pattern>/listar-rutas-vuelo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaRutaVueloServlet</display-name>
    <servlet-name>ConsultaRutaVueloServlet</servlet-name>
    <servlet-class>ConsultaRutaVueloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaRutaVueloServlet</servlet-name>
    <url-pattern>/consulta-ruta-vuelo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>altaVueloServlet</display-name>
    <servlet-name>altaVueloServlet</servlet-name>
    <servlet-class>altaVueloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>altaVueloServlet</servlet-name>
    <url-pattern>/alta-vuelo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaVueloServlet</display-name>
    <servlet-name>ConsultaVueloServlet</servlet-name>
    <servlet-class>ConsultaVueloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaVueloServlet</servlet-name>
    <url-pattern>/consulta-vuelos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservaVueloServlet</display-name>
    <servlet-name>ReservaVueloServlet</servlet-name>
    <servlet-class>ReservaVueloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaVueloServlet</servlet-name>
    <url-pattern>/reserva-vuelo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>consultaReservaServlet</display-name>
    <servlet-name>consultaReservaServlet</servlet-name>
    <servlet-class>consultaReservaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>consultaReservaServlet</servlet-name>
    <url-pattern>/consulta-reserva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilAerolineaServlet</display-name>
    <servlet-name>PerfilAerolineaServlet</servlet-name>
    <servlet-class>PerfilAerolineaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilAerolineaServlet</servlet-name>
    <url-pattern>/profile_aerolinea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalleReservaServlet</display-name>
    <servlet-name>DetalleReservaServlet</servlet-name>
    <servlet-class>DetalleReservaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalleReservaServlet</servlet-name>
    <url-pattern>/detalle-reserva</url-pattern>
  </servlet-mapping>
</web-app>